.navbar_header {
    display: flex;                
    justify-content: space-between; 
    align-items: center;           
    padding: 1rem 2rem;
    background-color: #000;  
    color: #fff;   
}

.left_header h1 {
    margin: 0;
    font-size: 30px;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.right_header {
    display: flex;
    justify-content: space-around;     
    gap: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 25px;            
}

.right_header a:hover {
    text-decoration: underline;
}
